@import '../variables'

.divNavbar
    display: flex
    background-color: #111106
    height: 4em
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 0 1em

.logoNavbar
    display: flex
    height: 2.5em

.divIconsNavbar
    display: flex
    height: 2.5em
    width: 40%
    justify-content: space-between

.iconsNavbar
    height: 2.3em

.picProfile
    border-radius: 100%