@import '../variables'

.titleWelcome
    font-family: $font-regular
    color: $dark-color


.textWelcome
    font-family: $font-condensed
    font-size: 24px
    color: $dark-color
    margin-top: 0