@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Open+Sans:wght@300;400;700&display=swap')

$font-condensed: 'Open Sans Condensed', sans-serif
$font-regular: 'Open Sans', sans-serif
$dark-color: #111106

body
    color: $dark-color
    background: $dark-color
    margin: auto
